<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap" rel="stylesheet">
    <title>Quarto</title>
  </head>
  <body>
    <header>
      <div class="header-logos">
        <img src="img/quarto-logo-page-top.png" alt="">
      </div>
    </header>
    <div class="page-top">
      <h1 class="page-top-title">Quarto</h1>
      <p class="page-top-subtitle">クアルト</p>
      <a href="/playground" class="btn btn-flat"><span>スタート</span></a>
    </div>
  </body>
</html>
