<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Quarto</title>
  </head>
  <body>
    <header>
      <div class="icon">

      </div>
    </header>
    <div class="page-top">
      <h1 class="page-top-title">aa</h1>
    </div>
  </body>
</html>
